.cuiButton {
  border: none;
  border-radius: 0.3125rem;
  text-align: center;

  &--primary {
    background-color: var(--primary-900);
    color: var(--button-text-color);

    &:hover,
    &:focus {
      background-color: var(--primary-700);
    }

    &:active {
      background-color: var(--primary-600);
    }

    &:disabled,
    &:disabled:hover,
    &:disabled:focus {
      background-color: var(--primary-300);
    }
  }

  &--medium {
    padding: .625rem 1rem;
    font-size: $text-sm;
  }
}