.loadingFallBack {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    span {
        font-size: 2rem;
        animation: fade 1s linear 0s infinite;
    }
}