.emptyBasket {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &-image {
    margin: 6.25rem 5rem;
    margin-bottom: 0;
  }

  &-text {
    color: var(--text-color-light);
    font-weight: $font-light;
    font-size: $text-base;
    margin-top: 5.625rem;
    margin-bottom: 6.25rem;
  }
}