.basketItem {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;


  &-imageWrapper {
    position: relative;
    border-radius: 0.625rem;
    background-color: var(--image-background-color);
    width: 5rem;
    height: 5rem;

    & img {
      width: 100%;
      height: 100%;
      padding: 0.5rem;
    }
  }

  &-deleteButton {
    cursor: pointer;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  &-detailsWrapper {
    flex-grow: 1;
    padding: 0.9375rem 1.25rem;
  }

  &-name {
    font-size: $text-base;
    font-weight: $font-medium;
  }

  &-price {
    margin-top: 0.625rem;
    font-size: $text-sm;
    font-weight: $font-light;

    & strong {
      font-size: $text-2xs;
    }
  }

}