.products {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    &-wrapper {
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
    }

    &-item {
        margin-right: 1.25rem;
        margin-bottom: 1.25rem;
    }

    &-aside {
        display: none;

        @include respond-to('medium') {
            display: block;
        }
    }
}